.signup-title{
    text-align: center;
}
.signup-container{
    max-width: 550px;
    margin: 0px auto;
    padding-top: 100px;
}
.signup-button {
    width: 100%;
    margin-top: 15px;
}

.signup-form input {
    float: right;
    max-width:415px;
}
.signup-button[disabled], .signup-button[disabled]:hover, .signup-button[disabled]:focus {
    opacity: 0.6;
    color: #fff;
    background-color: red;
    border-color: red;
}