.signup-title{
    text-align: center;
}
.signup-container{
    max-width: 550px;
    margin: 0px auto;
    padding-top: 100px;
}
.signup-button {
    width: 100%;
    margin-top: 15px;
}

.signup-form input {
    float: right;
    max-width:415px;
}