.quiz-container{
    max-width: 600px;
    margin: 0 auto;    
    padding-top: 100px; 
}
.question-container{
    margin-bottom: 60px;
}
.first-choice-button{
    width: 100%;
    margin-bottom: 5px;
    background-color: beige;
   
}
.second-choice-button{
    width: 100%;
    margin-bottom: 5px;
    background-color: beige;
}
.third-choice-button{
    width: 100%;
    margin-bottom: 5px;
    background-color: beige;
}
.fourth-choice-button{
    width: 100%;
    margin-bottom: 5px;
    background-color: beige;
}
.quiz-title{
    margin-bottom:100px;
    text-align: center;
    background-color: beige;
}